.logos_container{
    margin: 0px 0px 60px 0px;
    .img_container{
        display: flex;
        align-items: center;
        flex-direction: column;
        .imgs{
            width:150px;
            height:150px;
        } 
    }
}
@media (max-width:480px){
    .logos_container{
        margin: 0px 0px 0px 0px;
    }
}