body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: auto;
}
*{
  font-family: 'Secular One', sans-serif;
  overflow-x: hidden;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.fyHTpc{
  background-color: transparent !important;
}
.header{
  margin-bottom: 5%;
  font-family: 'Secular One', sans-serif;
  text-align: center;
  font-size: 25px;
}
.section{
  padding: 30px;
  direction: rtl;
}
.main_container{
  position: relative;
  direction: rtl;
}